<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand <% if(active === 'download') {%> active <%} %>" href="/">
        Все записи
      </a>
      <a class="navbar-brand <% if(active === 'download') {%> active <%} %>" href="/new">
        Создать
      </a>
      <a class="navbar-brand <% if(active === 'download') {%> active <%} %>" href="/random">
        Случайное место
      </a>
    </div>
  </div>
</nav>