<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand <% if(active === 'download') {%> active <%} %>" href="/">
            Home
        </a>
        <a class="navbar-brand <% if(active === 'download') {%> active <%} %>" href="/new">
            New
        </a>
        <a class="navbar-brand <% if(active === 'download') {%> active <%} %>" href="/download">
        Downlod
          </a>
      </div>
    </div>
  </nav>