<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
    <div class="container312">
        <div class="wraperVideo">
            <video autoplay muted loop id="myVideo">
                <source src="video/main.mp4" type="video/mp4">
            </video>
            <div class="descVideo">
                <h1>Достопримечательности КЧР</h1>
            </div>
        </div>
    </div>
</body>

</html>