<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
    <div>
        <div class="wraperVideo">
            <video autoplay muted loop id="myVideo">
                <source src="video/main.mp4" type="video/mp4">
            </video>
            <div class="descVideo">
                <h1>Достопримечательности КЧР</h1>
            </div>
        </div>
        <div class="container description">
            <blockquote class="blockquote">
                <p class="mb-0">Наш сайт придерживается максимально дружественную позицию к посетителям, вы можете оставлять комментарии и обсуждать места которые посещали, создавать свои посты или дополнять имеющиеся.</p>
                <footer class="blockquote-footer">И все это доступно <cite title="Source Title">без регистрации!</cite></footer>
              </blockquote>
              <blockquote class="blockquote">
                <p class="mb-0">Если Вы хотите поддержать проект, вы всегда можете прислать любую  сумму на QIWI.</p>
                <footer class="blockquote-footer">Номер счета: <cite title="Source Title">+79284377363</cite></footer>
              </blockquote>
              <blockquote class="blockquote">
                <p class="mb-0">Связаться со мной можно по электронной почте.</p>
                <footer class="blockquote-footer">Email: <cite title="Source Title">djuibo@gmail.com</cite></footer>
              </blockquote>
        </div>
    </div>
</body>

</html>